body {
  background-color: #ffffffc7;
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  color: #333;
}

h1, h2 {
  text-align: center;
}

a {
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
}

.main-nav a {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #007acc;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.main-nav a:hover {
  background-color: #005fa3;
}


.profile-subtitle {
  font-weight: 600;
  font-size: 1rem;
  color: #444;
  margin-bottom: 15px;
}

.profile-subtitle a {
  color: #007acc;
  text-decoration: none;
  font-weight: 600;
}
.profile-subtitle a:hover {
  text-decoration: underline;
}
